@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}


.Socialmediaimage {
    width: 25px;
    padding-left: 3.5rem;

}



.media>:hover {

    scale: 110%;

}

.socialclick {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.socialclick:hover {

    background-color: rgba(211, 211, 211, 0.207);
    cursor: pointer;

}

.socialbuttonandiconsGrid {

    grid-template-rows: minmax(20%, 40px) minmax(10%, 100px);
    grid-template-columns: 20px 140px;
    display: grid;
    height: 100vh;
    overflow: hidden;

    font-size: .8rem;


}



.socialmediagrid>ul {
    padding-top: 1rem;
    padding-left: 1rem;
}

.MenuNav {

    position: relative;
    overflow: hidden;
    height: min(100vh);

}

.socialclick>li {

    text-align: left;
    cursor: pointer;
    width: 1rem;
    height: 4rem;
    list-style: none;
}

.socialclick>p {

    text-indent: 10px;
    color: white;
    background-image: url(../images/arrow.png);
    width: max(40%);
    margin: 14% auto;
    font-size: 1em;
}

.btnwrap {
    grid-row: 3/3;
    grid-column: 1/1;
    top:268px;
    position:fixed;

}

.btnwrap>button {

    background-color: grey;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: whitesmoke;
    padding: .5rem;
    width: 260px;
    margin: 0;
}



.btnwrap>button:hover {

    background-color: rgb(73, 73, 74);

}

.btnText>img {

    height: 12px;
}


.btnText {

    text-align: left;
    font-size: .8rem;
    animation: bounce .4s ease infinite alternate;

}

@keyframes bounce {
    0% {}

    100% {
        transform: translateY(-2px);

    }
}



.btnwrap>button:focus {

    background-color: rgb(4, 57, 94);
    border: 1.5px solid rgb(11, 112, 184);


}

.socialmediagrid {
    grid-row: 3/3;
    grid-column: 2/2;
    font-family: aboutme;
    list-style-type: none;

    color: whitesmoke;
    padding-top: 2rem;
    padding-left: 2px;
    margin: 0;

}

@media (max-width: 480px) {
    .socialbox {
        background-image: none;
        grid-template-rows: repeat(1, 1fr);



    }

    .socialbuttonandiconsGrid {

        grid-template-rows: 20px 20px 100px 30px;
        height: 30rem;

        grid-template-columns: 0 150px;

    }



    .btnwrap>button {

        width: min(100%);


    }

    .btnwrap {
        height: 20px;
        width: 7.7rem;
        z-index: 1;
        grid-row: 4/4;
    }


    .socialmediagrid {

        grid-row: 4/4;
        background-color: rgb(4, 57, 94);
        border: 1.5px solid rgb(11, 112, 184);
        height: 20rem;
        overflow-y: scroll;
        width: 80%;
    }

    .socialclick>p {

        width: 80px;
        font-size: .8rem;
        margin: 20% 10% 10% 0;
        height: 25px;

    }

    .Socialmediaimage {
        padding: 0px;
    }

    ::-webkit-scrollbar {
        display: none;


    }

}