html,
body {

  background-image: url("../images/triangles2.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: cover;

}

body::-webkit-scrollbar {
  display: none;
}


@media (max-width: 480px) {
  body {}





}