html,
body {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/wallpaper.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;

}

body::-webkit-scrollbar {
  display: none;
}