.main {

    display: flex;
    flex-direction: row;


}

@media (max-width: 480px) {


    .main {

        display: inline-grid;
        position: relative;
        grid-template-rows: 10px 388px 0px;
        grid-template-columns: repeat(3, 20px);



    }
}