.container {
    justify-self: center;
}

.wrapper {
    align-self: start;
}

.grid {

    display: flex;
    align-content: space-between;
    height:100%;
}

#root{
    height:100%;
}

@media only screen and (max-width: 500px) {
    .container {}
}