.container {

    grid-row: 1/1;
    grid-column: 2/2;
    justify-self: left;
}

.wrapper {

    grid-row: 5/5;

}

.grid {

    display: grid;

    max-height: 100vh;
    max-width: 100vh;
    grid-template-rows: 60px 140px;
    grid-template-columns: 20vw minmax(200px, min-content) 1fr;



}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: 300px;
        grid-template-columns: 10px minmax(100px, min-content) 1fr;



    }

    .container {

        width: 100svw;
        height: 100svh;

    }

}