@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}


.footerbackground {


    background-image: url("../images/Groupfooter.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    position: relative;




}

@media (max-width: 480px) {
    .footerbackground {

        background-image: url("../images/phone/footer2.png");
        background-repeat: no-repeat;
        background-size: cover;

        height: 11vh;
    }



}