@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}





.footerwrapper {


    position: relative;
    margin: 0;

}

.footerbackground {


    background-image: url("../images/VSC/footer3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 139vh;
    height: 17vh;
    background-position-x: -6%;
    background-position-y: 5%;







}

.footerlist {


    list-style: none;

    align-content: stretch;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    font-family: aboutme3;

}

.text {



    text-align: center;


}

.footeritems {

    font-size: 2vh;


    text-shadow: 6px 6px 0px rgba(113, 113, 113, 0.39);

}