@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}







.footerbackground {


    background-image: url("../images/Groupfooter.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: min(100%);
    height: 30vh;







}

@media (max-width: 480px) {
    .footerbackground {


        background-image: url("../images/phone/phonefooter.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        background-position-y: 30px;

        width: 100%;
    }



}