@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}




::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(204, 53, 169);
    border-radius: 10px;
}

.aboutMe {


    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;

    color: black;


    height: 100vh;
    width: 100%;
    position: relative;


    text-align: center;

    background-image: url("../images/VSC/aboutmebackground.png");
    background-repeat: no-repeat;
    background-size: contain;




}


.myname {
    margin: 20px;
    line-height: 30px;

}

.opening {
    margin: 0;
    margin-top: 40px;
}




.aboutMe p {

    width: fit-content;

    font-size: 1vw;
    width: 40vw;
    height: 2vw;
    margin: 50px auto;
    font-family: aboutme;

}

.paraskill p {
    margin-top: 20px;

    height: 20px;
    display: inline-block;
    width: auto;


}

.aboutMe h3 {

    font-size: 3vw;
    font-family: aboutme2;
    padding: 20px;
}


.aboutMe h2 {

    font-size: 1vw;
    font-family: aboutme2;
}

.aboutMe h1 {




    font-family: aboutme3;
}




.abouth1 {

    width: 750px;
    height: 400px;

    position: relative;


    animation: text-focus-in 2s cubic-bezier(.55, .085, .68, .53) both;




}

@keyframes text-focus-in {
    0% {
        filter: blur(10px);
        opacity: 0
    }

    100% {
        filter: blur(0);
        opacity: 1
    }
}




.skillbox {

    width: 400px;
    box-sizing: border-box;
    margin: 10px auto;

    border: 1.5px solid rgb(0, 0, 0);



}

.grafisktittel {
    padding-bottom: 60px;
}

.skills {
    text-align: right;

    padding-top: 10px;

    padding-bottom: 5px;

    color: white;

}

.html {
    width: 100%;
    background-color: rgb(248, 107, 56);
}


.css {
    width: 95%;
    background-color: #1527b4;
}


.js {
    width: 90%;
    background-color: yellow;
}


.react {
    width: 80%;
    background-color: #7bc0e5;
}

.skillp {


    font-weight: 600;





}

.figma {
    width: 75%;
    background-color: #686868;
}

.adobe {
    width: 89%;
    background-color: #ff0000;
}

.wordpress {
    width: 90%;
    background-color: #00959d;
}

.projectGallery {


    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    border: 0.2em solid black;
    font-size: 0.6em;
    text-align: center;

}

.projectGallery>h1 {

    background-color: rgb(204, 53, 169);
}





.card {
    width: 10vw;
    text-align: center;
    flex-grow: 1;
    margin: auto;
    padding-bottom: 1rem;
    background-image: url(/src/images/Rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1vw;
    border: solid 2px #5d88b0;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}




.cardscontainer {
    text-align: center;
    display: flex;
    width: 70%;
    height: auto;
    align-items: flex-end;
    flex-direction: column;

    justify-content: center;
    margin: auto;
}




.card {

    text-align: center;
    width: 33vw;
}

.card>h1 {

    color: white;
    text-shadow: 0.7px 0.2px 1.5px #000000;
    font-size: 1em;
}

.label {
    color: white;

    text-align: center;

    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(106, 104, 240);
    width: 2vw;
    border-radius: 7px;
    box-shadow: 1px 1px #000000;

    height: 1vw;
    font-size: 0.9vw;

}

.card p {
    height: 2vw;
    width: 20vw;
    margin: 10px auto;
    line-height: 60px;
    text-align: center;
}

.label:hover {


    scale: 90%;

    cursor: pointer;
}

.label:active {

    background-color: rgb(50, 49, 148);
}

a {
    text-decoration: none;
}



.bars {

    width: 100%;

    margin: 0;
    position: relative;

    padding-top: 10px;



}

.bigwrap {


    display: flex;
    flex-direction: column;


}

.bigwrap h1 {
    display: flex;
    flex-direction: column;
}


.kontaktboks {
    margin: 0 auto;
    width: 70%;
    line-height: 60px;




}

.infobox {
    padding-bottom: 30px;
    margin: 10px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;



}

.pinfo>p {
    padding: 10px;
    width: fit-content;
    margin: 20px auto;
    color: white;

    font-size: 1.2rem;
    text-decoration: none;
    font-size: 0.9em;


    background-color: rgb(106, 104, 240);
    padding: 0.5rem;
    border-radius: 7px;
    box-shadow: 1px 1px #000000;


}

.pinfo {

    background-image: url(/src/images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;


}


.pinfo>h1 {

    font-size: 1em;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;

}

.pinfo a {

    color: white;

    font-size: 1.2rem;
    text-decoration: none;

    margin: 20px auto;
    width: 100px;
    background-color: rgb(106, 104, 240);
    padding: 0.5rem;
    border-radius: 7px;
    box-shadow: 1px 1px #000000;


}

.grafisk {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: fit-content;
    height: 50%;
    border: 0.5px solid black;






}

.grafisk p {
    font-size: 1em;
    font-weight: 600;
}

.kompetanse {


    width: 350px;
    height: 200px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.kompetanse p {

    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;



}



.linefix2 p {

    margin-bottom: 20px;

}

.annet {
    background-image: url(/src/images/skills.png);
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;

    justify-items: center;
    padding: 10px;
    flex-direction: row;

    margin: 0;
    width: 40vw;
    height: 14vw;


    font-size: 0.6em;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.cardfix {

    margin-right: 15px;
}

.annet ul {


    font-family: aboutme3;

    list-style-type: none;

    flex-flow: wrap;
    flex-shrink: 2;

    margin: 10px auto;
    width: 200px;
    height: 200px;






}

.annet li {
    width: 250px;
    margin: 3% auto;
}

.secondlist {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: column;
    margin-top: -220px;
    margin-left: 50px;


}

.secondlist li {
    font-size: 0.6em;
    width: 200px;
    height: 5px;
    font-family: aboutme3;
    border-collapse: collapse;
    list-style-type: none;
    text-overflow: clip;

    margin: 27px 240px;
    margin-bottom: 20px;
    padding: 5px;
}


.mecard {
    padding: 30px;
    margin-top: 50px;
    margin-right: 100px;


}

.cardbox {
    padding-bottom: 100px;
    margin: auto;
}