@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}




::-webkit-scrollbar {
    width: 10px;



}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px rgb(45, 122, 237);
    border-radius: 10px;



}

::-webkit-scrollbar-thumb {
    background: rgb(255, 106, 220);
    border-radius: 5px;

}

.aboutMe {


    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;

    color: black;


    height: 86vh;
    width: 250%;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    font-size: 3vh;
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-gap: 10px;
    justify-items: center;

    background-position-x: 1%;
    background-position-y: 5%;
    background-image: url("../images/VSC/aboutmebackground2.png");
    background-repeat: no-repeat;
    background-size: contain;




}

.bottompadding {

    padding-bottom: 50px;
}

.aboutMe>* {
    grid-row: 1/2;
    min-width: 0;
    grid-column: 2/10;

}

.aboutMe>.cardbox {
    grid-row: 1 / -1;
    margin: 20px 0;


}


blockquote {
    grid-row: 1 / -1;
    margin: 10px 0;
    font-weight: 600;
    border-left: 10px solid #ffffff;
    padding-left: 10px;
}



.opening {
    margin: 0;
    margin-top: 30px;
    width: min(100vh);

}




.aboutMe p {



    font-size: 3vh;
    text-align: center;
    text-justify: inter-word;
    width: 100%;
    margin: 25px auto;
    font-family: aboutme2;

}



.aboutMe h3 {
    padding-top: 6%;
    font-size: 6vh;
    font-family: aboutme2;
    text-align: center;

}


.aboutMe h2 {

    font-size: 3vh;
    font-family: aboutme2;
    text-align: center;
}

.aboutMe h1 {


    font-size: 4vh;
    font-family: aboutme3;
    margin: 10px auto;

    text-align: center;
}

.welcometext {

    font-size: 4vh;
    font-family: aboutme3;
    margin: 80px auto;
    text-align: center;
    display: block;

}



.abouth1 {

    width: fit-content;
    height: 30px;
    padding-top: 2vh;

    position: relative;


    animation: text-focus-in 0.3s cubic-bezier(.55, .085, .68, .53) both;




}

@keyframes text-focus-in {
    0% {
        filter: blur(10px);
        opacity: 0
    }

    100% {
        filter: blur(0);
        opacity: 1
    }
}




.skillbox {
    width: 70vh;
    grid-column: 1 / 4;
    box-sizing: border-box;
    margin: 10px auto;

    border: 1.5px solid rgb(0, 0, 0);



}

.kreativtittel {

    margin-top: 50px;
    padding: 15px;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 10%,
            #5e17ab 29%,
            #ff1361 67%,
            #ca00e0 80%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;

}


@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.grafisktittel {}

.skills {


    padding-top: 10px;

    padding-bottom: 5px;
    grid-row: 1/1;
    color: white;

}

.html {
    width: 100%;
    background-color: rgb(248, 107, 56);
}


.css {
    width: 95%;
    background-color: #1527b4;
}


.js {
    width: 90%;
    background-color: yellow;
}


.react {
    width: 80%;
    background-color: #7bc0e5;
}

.skillp {


    font-weight: 600;





}

.figma {
    width: 75%;
    background-color: #686868;
}

.adobe {
    width: 89%;
    background-color: #ff0000;
}

.wordpress {
    width: 90%;
    background-color: #00959d;
}

.projectGallery {


    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    border: 0.2em solid black;
    font-size: 0.6em;
    text-align: center;

}

.projectGallery>h1 {

    background-color: rgb(204, 53, 169);
}





.card {

    text-align: center;
    flex-grow: 1;
    margin: auto;
    padding-bottom: 1rem;
    background-image: url(/src/images/Rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: solid 2px #5d88b0;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);




}


#project1 {
    margin-bottom: 50px;
}

.cardscontainer {
    margin-top: 70px;


}

#cards {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    justify-items: center;
}


.card {


    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100vh;
    height: 30%;

    justify-content: center;




}

.card>h1 {

    color: white;
    text-shadow: 0.7px 0.2px 1.5px #000000;
    font-size: 3vh;
    width: auto;
    height: 1vh;
    position: relative;
}

.label {
    color: white;

    text-align: center;

    font-size: 4vh;
    text-decoration: none;
    background-color: rgb(106, 104, 240);
    width: 2vw;
    border-radius: 7px;
    box-shadow: 1px 1px #000000;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    height: 3vh;
    transition: all 800ms ease;



}

.card p {
    height: 10%;
    width: 70%;
    margin: 10px auto;
    line-height: 60px;
    text-align: center;
    line-height: 20px;
    font-size: 3vh;

}

.secondlink {

    cursor: pointer;
    font-family: aboutme;


}

.secondlink:hover {

    filter: brightness(10%);

}




.label:hover {


    scale: 90%;
    text-shadow: 0.7px 0.2px 1.5px #000000;
    cursor: pointer;
    filter: brightness(130%);
    transform: translate(0, -0.2rem);
    backface-visibility: hidden;


}

.label:active {

    background-color: rgb(50, 49, 148);
}

a {
    text-decoration: none;
}



.bars {

    width: 100%;

    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    align-self: center;



}

.bigwrap {


    grid-template-columns: repeat(1, 1fr);
    font-size: 3vh;
    display: grid;
    grid-template-rows:
        1fr min(85ch, 100%) 1fr;
    justify-items: stretch;



}




.kontaktboks {
    margin: 40px auto;
    width: 100%;


    grid-column: 2/10;
    grid-row: 2/5;






}


.kontaktpara {
    padding: 5px;
    text-align: center;


    color: white;

    font-size: 1em;
    text-decoration: none;
    font-size: 0.9em;


    background-color: rgb(106, 104, 240);
    padding: 0.5rem;
    border-radius: 7px;
    box-shadow: 1px 1px #000000;


}

.kontaktpara2 {
    background-color: rgb(231, 29, 207);
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    border: 2px solid white;
}


.kontaktpara2:hover {
    scale: 110%;

}

.infobox {
    background-image: url(/src/images/Rectangle2.png);
    background-repeat: no-repeat;

    background-size: cover;
    width: 70%;
    height: 60%;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    image-rendering: optimizeQuality;

}

.infobox>h1 {
    color: white;
    text-shadow: -1px 1px 0 #3e093d,
        1px 1px 0 #043d76,
        1px -1px 0 #232a29,
        -1px -1px 0 #54095d;
}

.pinfo {

    margin: 60px auto;
    font-family: aboutme2;
    line-height: 15px;
    width: 90%;
    height: 13vh;
    background-color: rgba(209, 209, 209, 0.511);
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border: 5px solid rgba(248, 241, 241, 0.712);
}


.pinfo>h1 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    height: 2px;
    text-align: center;

    margin-top: 10px;


}

.kontakttittel {

    margin-top: 20px;
    color: white;
    text-shadow: 0.7px 0.3px 1.5px #000000;

}

.pinfo a {

    color: white;

    font-size: 1.2rem;
    text-decoration: none;



    border-radius: 7px;
    box-shadow: 1px 1px #000000;


}

.grafisk {

    margin-top: 90px;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;

    background-image: url("../images/texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3vh;




}

.grafisk p {
    font-size: 1em;
    font-weight: 600;
    font-family: aboutme2;
}

.kompetanse {}

.kompetanse p {

    width: min(40vh);
    height: 20px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;



}



.linefix2 p {

    margin-bottom: 20px;

}

.annet {
    background-image: url(/src/images/skills.png);
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;

    justify-items: center;
    padding: 10px;
    flex-direction: row;

    margin: 0;
    width: 100vh;
    height: 40vh;
    background-position: 49%;


    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.cardfix {

    margin-right: 45px;
}

.annet ul {


    font-family: aboutme3;

    list-style-type: none;
    font-size: max(2vh);


    margin-top: 10px;
    margin-left: 30%;
    width: 50vh;
    height: 20vh;






}

.annet li {
    position: relative;
    width: auto;
    margin: 2%;
    text-align: center;
    text-indent: 4%;




}






.mecard {

    margin-top: 30px;





}



.cardbox {
    padding-bottom: 100px;
    padding-top: 50px;
    margin: 0;
    text-align: center;


}

.joobloop {

    color: rgb(255, 255, 255);

    font-size: 5vh;
    cursor: pointer;
    border: 1.5px solid whitesmoke;
    margin: 120px auto;
    width: 100%;
    height: 10%;
    font-family: aboutme2;
    border-radius: 20px;
    background-image: url(/Portfolio2023.React/src/images/btnRectangle.png);
    background-repeat: no-repeat;

    background-size: cover;
    cursor: pointer;

    text-shadow: -1px 1px 0 #3e093d,
        1px 1px 0 #043d76,
        1px -1px 0 #232a29,
        -1px -1px 0 #221a23;
    padding: 10px;
    text-align: center;
    transform: translate(0, -0.2rem);
    backface-visibility: hidden;
    transition: all 800ms ease;


}

.joobloop h1:hover {
    filter: brightness(120%);
    scale: 80%;
    cursor: pointer;
    transition: all 800ms ease;


}

.joobloop h1 {
    transform: translate(0, -0.2rem);
    backface-visibility: hidden;
    transition: all 800ms ease;
}

.joobloop:active {

    filter: brightness(170%);

}


.lesmer {


    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: aboutme3;
    font-weight: 600;

}