@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}



.FaceNavWrap {
    width: 121vh;

    height: 20vh;
    background-position-y: 10%;
    background-image: url("../images/VSC/headerbackground2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 10%;
    background-position-y: 2%;
    padding: 1px;


}




.list {



    position: relative;

    display: flex;
    flex-direction: row;
    width: 100%;

    justify-items: center;
    justify-content: space-evenly;
    list-style-type: none;



    border: none;
    padding: 1px;



    font-size: 1vw;
    cursor: pointer;
}

.navigation {

    font-weight: 600;


}


.list>li {

    width: 20vh;
    height: auto;
    font-size: 2vh;
    margin-top: 3vh;


}



.navigation>button {

    appearance: none;
    border: 1.5px solid whitesmoke;

    margin: 1px auto;
    width: 16vh;
    font-size: 2vh;
    border-radius: 20px;
    background-image: url(/src/images/btnRectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vh;
    cursor: pointer;
    font-family: aboutme3;

}

.navigation>button:hover {

    scale: 110%;
    color: whitesmoke;


}


@media (max-height: 400px) {
    /* .FaceNavWrap {
        width: 80vh;

        height: 20vh;
    }

    .list {}

    .navigation>button {

        margin-top: -10px;
        align-items: center;
        height: fit-content;
        width: fit-content;
    } */
}