@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}



.FaceNavWrap {

    background-position-y: 10%;
    background-image: url("../images/VSC/headerbackground2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -12px;
    padding: 1px;
    height: max(280px);
}




.list {


    height: 110px;
    display: flex;
    flex-direction: row;
    margin: 1% 0;
    justify-content: center;
    list-style-type: none;
    padding: 1px;
    cursor: pointer;
}

.navigation {
    margin: 0 auto;
    font-weight: 600;


}


.navigation>button {


    border: 1.5px solid whitesmoke;
    margin: 0;
    border-radius: 20px;
    background-image: url(/src/images/btnRectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vh;
    cursor: pointer;
    font-family: aboutme3;
    transition: all 200ms ease;
}

.navigation>button:hover {

    scale: 110%;
    color: whitesmoke;


}

.navigation>button:active {

    color: black;


}

@media (max-width: 480px) {
    .FaceNavWrap {

        background-image: url("../images/phone/phoneheader.png");
        background-repeat: no-repeat;
        background-size: contain;
        padding: 1px;

    }

    .navigation>button {

        width: min(50px);
        height: min(30px);
        font-size: .7rem;
        margin: 0;
    }



}