.codebackground {

    margin: 30px auto;
    height: 90vh;
    box-shadow: rgba(50, 50, 105, 0.307) 10px 6px 5px 5px, rgba(0, 0, 0, 0.192) 5px 3px 2px 5px;


}

.backgroundContainer {
    width: 100%;
    height: 80%;
    margin: 0;

}




.welcome {


    width: 100px;
    height: 200px;
    left: 40%;


}





.both {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 800px;
    position: absolute;
    flex-basis: auto;
    margin: 40px 240px auto;






}