.codebackground {


    margin-left: 320px;
    width: 135vh;
    position: relative;
    height: 100vh;
    margin-top: 0;




}

.bodyWallpaper {

    margin-left: 320px;
    width: 130vh;
    position: relative;
    height: 100vh;
    margin-top: 0;



}

.footerwallpaper {

    margin-left: 320px;
    width: 140vh;
    position: relative;
    height: 90vh;
}


.Headwallpaper {

    margin-left: 320px;
    width: 135vh;
    margin-left: auto;
    position: relative;
    display: inline;
    height: 100vh;
    margin-top: 0;
    margin-left: 350px;



}

.welcome {

    position: relative;
    width: 100px;
    height: 20px;
    left: 40%;
    top: -53px 0px;
    white-space: nowrap;

    /* 
    position: relative;

    left: 40%;
    top: -480px;
    width: 260px;
    height: 70px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #212121;
    animation: cursor 1s alternate linear,
        text 5s steps(18) alternate;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes cursor {

    0%,
    100% {
        border-color: #212121;
    }
}

@keyframes text {
    0% {
        width: 0;
    }

    100% {
        width: 25.5ch;
    }

}




.typewriter {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: clamp(2rem, 2.8vw, 5rem);

}



.faceandbody {
    left: 8.6%;


    bottom: 3%;

    width: 50vh;
}

.test {


    margin: 0 auto;
    position: relative;
} */

}