@font-face {
    font-family: codetext;
    src: url(/src/fonts/CascadiaCode-jEZzj.ttf);
}




.shadowmain {
    position: relative;
    width: 300px;

}





.btn1 {}


.btn2 {}


.btn3 {}


.container {


    margin-top: -370px;
    padding: 50px;


}

.btnGroup {



    min-height: 280px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.btnGroup>button:hover {
    scale: 160%;
}



.btnGroup>button {
    width: 100px;
    height: 20px;
    border: 2px dotted white;
    font-family: codetext;
    animation: bounce .4s ease infinite alternate;

}



@keyframes bounce {
    0% {
        text-shadow:

            0 1px 3px rgb(79, 79, 79);
    }

    100% {
        transform: translateY(-3px);
        text-shadow: 0 3px 0 rgba(81, 81, 81, 0.8),
            0 0px 3px rgba(0, 0, 0, .8);
    }
}



.faceandbody {

    margin-left: 320px;
    width: 135vh;
    position: relative;
    height: 100vh;
    margin-top: 0;




}

.something {
    position: relative;

    width: 50px;
    height: 100px;
    margin-top: -20px;




}

.kattywrap {
    width: 200px;
    height: 50px;
    position: relative;


}