@font-face {
    font-family: codetext;
    src: url(/src/fonts/CascadiaCode-jEZzj.ttf);
}




.shadowmain {
    position: relative;
    width: 50vh;




}


.btnGroup {

    display: flex;
    position: relative;
    flex-direction: column;
    right: 10%;

}

.btnGroup>button:hover {
    scale: 130%;

}

.btnGroup>button {


    border: 1px solid rgba(255, 255, 255, 0.318);
    font-family: codetext;
    animation: bounce .4s ease infinite alternate;
    width: min(8vw);
    padding: 3%;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.27);
    margin: max(20%) auto;

}



@keyframes bounce {
    0% {
        text-shadow:

            0 1px 3px rgb(79, 79, 79);
    }

    100% {
        transform: translateY(-3px);
        text-shadow: 0 3px 0 rgba(81, 81, 81, 0.8),
            0 0px 3px rgba(0, 0, 0, .8);
    }
}



.kattywrapandbuttons {
    position: relative;
    display: grid;
    grid-template-columns: minmax(130px, 1fr);
    grid-template-rows: minmax(10px, 10px);
    margin: 0;


}



@media (max-width: 480px) {

    .mainwrap {
        margin: 0;
        position: relative;
        height: 1px;

    }


    .btnGroup {


        height: 10px;
        margin: 10%;


    }

    .btnGroup>button {
        width: 4rem;
        position: relative;
        margin: 40px 0;


    }

    .shadowmain {
        width: 50vw;
        max-height: 60vh;
        margin: 0;


    }

    .btnGroup>button:hover {
        scale: 105%;
    }


}

@media (max-width: 768px) {

    .btnGroup>button {

        margin: 30% 50%;
    }




}