.shadowmain {





    margin-left: 120px;
    width: 50vh;
    margin-top: -490px;

}


.faceimg {



    margin-left: 120px;
    width: 50vh;
    margin-top: -500px;
    position: relative;
    margin-bottom: 120px;

}

.bodyimg {

    margin-left: 120px;
    width: 50vh;
    margin-top: -400px;


}

.footerimg {

    margin-left: 120px;
    width: 50vh;
    margin-top: -390px;



}


.btn1 {
    width: auto;
    height: auto;


    display: inline;
    top: -5%;
    left: 16%;

}


.btn2 {
    width: auto;

    position: relative;
    display: inline;
    height: auto;

    top: 27%;
    margin: 0;

}


.btn3 {


    width: auto;

    position: relative;
    height: auto;

    top: 70%;
    display: inline;



}

.btnGroup {

    position: absolute;
    display: inline;
    width: 100px;
    height: 300px;

    margin: 10px auto;
    left: 16%;
    top: 42%;
    z-index: 2;

}

.faceandbody {

    margin-left: 320px;
    width: 135vh;
    position: relative;
    height: 100vh;
    margin-top: 0;




}