@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}


.Socialmediaimage {
    width: 25px;
    padding-left: 2rem;

}



.media>:hover {

    scale: 110%;

}

.socialclick {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.socialclick:hover {

    background-color: rgba(211, 211, 211, 0.207);

    cursor: pointer;

}

.socialbuttonandiconsGrid {

    grid-template-rows: repeat(5, 2.5rem);

    display: grid;
    grid-template-columns: 1fr fit-content(20%);
    width: 100%;
    height: 100vh;

}

.socialmediagrid>ul {
    padding-top: 1rem;
    margin: 0;
    width: max(60%);
    padding-left: 1rem;
}

.MenuNav {

    font-size: 0.7em;
    position: relative;
    overflow: hidden;
    height: min(120vh);
    width: 100%;
}

.socialclick>li {

    text-align: left;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    width: 1rem;
    height: 4rem;
    list-style: none;
}

.socialclick>p {
    font-size: 2.5vh;

    text-indent: 10px;
    color: white;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 8px;
    justify-content: space-around;

    width: max(4rem);
}


.topButton {
    background-color: grey;

}


.btnwrap {
    grid-row: 5/5;
    grid-column: 1/1;
    border: none;


}

.btnwrap>button {

    border: none;
    font: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    color: whitesmoke;
    padding: .4rem;
    box-sizing: border-box;
    width: 100%;
}



.btnwrap>button:hover {

    background-color: rgb(73, 73, 74);



}

.btnText>img {

    height: 12px;

}


.btnText {

    text-align: left;
    font-size: 1rem;
    animation: bounce .4s ease infinite alternate;

}

@keyframes bounce {
    0% {}

    100% {
        transform: translateY(-2px);

    }
}



.btnwrap>button:focus {

    background-color: rgb(4, 57, 94);
    border: 1.5px solid rgb(11, 112, 184);
    text-align: center;


}

.socialmediagrid {
    grid-row: 5/5;
    grid-column: 1/1;
    font-family: aboutme;
    list-style-type: none;
    color: whitesmoke;
    padding-top: 2rem;

    padding-left: 1rem;

}

@media (max-width: 480px) {
    .socialbox {
        background-image: none;
        grid-template-rows: repeat(1, 1fr);


    }

    .socialbuttonandiconsGrid {

        grid-template-rows: repeat(5, 10%);

    }



    .btnwrap>button {

        width: min(100%);

    }

    .btnwrap {

        grid-column: 1/2;
        grid-row: 4/4;

    }


    .socialmediagrid {

        grid-row: 4/4;
        background-color: rgb(4, 57, 94);
        border: 1.5px solid rgb(11, 112, 184);
        width: auto;
        height: fit-content;
        padding-bottom: 1rem;



    }

}

@media all and (max-width:30em) {
    .btnwrap>button {
        display: block;
        margin: 1em auto;

    }

}