@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}






.iconNames {
    font-size: 2.5vh;
    color: white;
    margin: 0;
    position: relative;
    padding: 11px;
    grid-row: 1/2;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position-y: 50%;
    padding-left: 20px;

}

.Social {
    background: none;
    width: 5vh;
    height: 5vh;
    padding: 2px;











}

.media>:hover {

    scale: 110%;

}

.socialclick {

    border: 1px solid rgb(122, 122, 122);


    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-rows: repeat(100px, 1fr);
    align-content: stretch;
    justify-items: start;
    justify-content: space-between;
    align-items: stretch;
    display: grid;





}

.socialclick:hover {

    background-color: rgba(211, 211, 211, 0.207);
    width: 140px;
    height: fit-content;
    cursor: pointer;

}

.socialbox {

    background-image: url("../images/VSC/socialmediabackground.png");
    background-repeat: no-repeat;
    height: 35vh;
    width: fit-content;
    background-size: contain;
    justify-items: stretch;
    display: grid;
    grid-template-columns: repeat(2, 75px);
    grid-template-rows: repeat(10, 80px);
    resize: both;
    grid-row-gap: 2px;




}

ul {
    padding-top: 26px;
}

.MenuNav {

    font-size: 0.7em;
    position: relative;
    /* 

    grid-template-columns: repeat(20, 20%);
    font-size: 3vh;
    display: grid;
    grid-template-rows: repeat(30, 50%);
    grid-gap: 30px; */
    overflow: hidden;
    height: 600px;
    width: 100%;
    justify-items: stretch;





}




.media {

    text-align: left;
    position: relative;
    background-color: none;

    border: none;
    padding: 10px;


    font: inherit;
    display: flex;
    flex-direction: column;


    align-items: stretch;

    font-size: 0.8em;
    cursor: pointer;
    grid-row: 1/2;
}





.topButton {
    background-color: grey;





}



.btnwrap {
    grid-column: 1/2;
    grid-row: 4/3;
    border: none;
    width: 200px;
    height: 10px;


    border: none;



}

.btnwrap>button {

    border-right: none;
    border-top: none;
    border-bottom: none;
    font: inherit;
    font-size: 1.5em;
    width: 100%;
    cursor: pointer;
    color: whitesmoke;
    position: relative;



}



.btnwrap>button:hover {

    background-color: rgb(73, 73, 74);

}





.btnText {

    position: relative;
    text-align: center;
    text-indent: -27%;
    height: 17px;
    animation: bounce .4s ease infinite alternate;

}

@keyframes bounce {
    0% {}

    100% {
        transform: translateY(-2px);

    }
}



.btnwrap>button:focus {

    background-color: rgb(4, 57, 94);
    border: 1.5px solid rgb(11, 112, 184);



}

.test {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(5, 50%);
    grid-template-rows: repeat(10, 20%);
    margin-left: -25px;
    width: 80px;
    height: auto;



}


.iconlist {


    font-family: aboutme;
    list-style-type: none;
    color: whitesmoke;
    padding-bottom: 10px;
    position: relative;

    grid-row: 7/8;
    grid-column: 1/2;

    text-align: center;

}

.arrow {

    width: 1vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-items: flex-start;
}

@media (max-width: 430px) {
    .container {}



    /* .topButton {

        width: 1px;
        height: 2px;

        font-size: 1px;
    } */


    .MenuNav>button:hover {}

    .btnText {}



    .iconlist {}

    li>.media {}

    .Social {}
}

@media (max-height: 300px) {
    .container {}
}

@media (max-width: 430px) {

    /* .MenuNav>button {

        grid-row: 8/9;

        width: 37vw;
        height: 2vh;
        font-size: 2vh;
    }

    .iconlist {
        grid-row: 8/9;
        padding-top: 30px;


    } */

}