@font-face {
    font-family: aboutme;
    src: url(/src/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: aboutme2;
    src: url(/src/fonts/Comfortaa-Regular.ttf);
}



@font-face {
    font-family: aboutme3;
    src: url(/src/fonts/Comfortaa-Bold.ttf);
}






.iconNames {
    font-size: 2vh;

    margin: 0;
    position: relative;
    width: 2vh;
    height: 2vw;



}

.Social {
    background: none;
    width: 5vh;
    height: 5vh;
    padding: 2px;






}

.media>:hover {

    scale: 110%;

}

.container {

    background-image: url("../images/VSC/socialmediabackground.png");
    background-repeat: no-repeat;
    height: auto;
    width: 31vh;
    background-size: contain;
    justify-items: stretch;

}

.container>.MenuNav {

    font-size: 0.7em;
    position: relative;
    font-size: 1vw;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(10, 3vh);
    grid-template-rows: repeat(2, 16vh);
    justify-content: space-around;
    height: fit-content;
    width: fit-content;

    justify-items: stretch;



}




.media {

    text-align: left;
    position: relative;
    background-color: none;
    color: inherit;
    border: none;
    padding: 4px;


    font: inherit;
    display: flex;
    flex-direction: column;
    justify-items: left;

    align-items: stretch;
    width: 2vw;
    min-height: 20px;

    font-size: 0.8em;
    cursor: pointer;
}



.media:hover {
    background-color: rgba(211, 211, 211, 0.478);
    width: 100px;

    border-radius: 10px;


}

.Social:hover {}

.topButton {
    background-color: grey;

    width: 100px;
    height: 20px;



}

.MenuNav>button {




    color: inherit;
    border-right: none;
    border-top: none;
    border-bottom: none;
    color: whitesmoke;

    width: 160px;
    height: 35px;
    grid-column: 1/2;
    grid-row: 3/-1;
    font: inherit;
    font-size: 3vh;
    cursor: pointer;

}





.btnText {

    position: relative;

    animation: bounce .4s ease infinite alternate;

}

@keyframes bounce {
    0% {}

    100% {
        transform: translateY(-2px);

    }
}

.MenuNav>button:hover {

    background-color: rgb(73, 73, 74);


}

.MenuNav>button:focus {

    background-color: rgb(4, 57, 94);
    border: 1.5px solid rgb(11, 112, 184);



}


.iconlist {


    font-family: aboutme;
    list-style-type: none;
    color: whitesmoke;
    padding-bottom: 10px;

    margin: 0;
    grid-row: 4/4;
    grid-column: 1/2;
    align-items: center;
    text-align: center;
}

.arrow {

    width: 1vh;
    height: 1.5vh;
    padding-right: 2px;

}

@media (max-height: 400px) {
    .container {
        width: 20vh;



    }



    .topButton {

        width: 1px;
        height: 2px;

        font-size: 1px;
    }

    .MenuNav {}

    .MenuNav>button {

        grid-row: -2/2;

        width: 20vh;
        height: 2vh;
        font-size: 2vh;
    }

    .MenuNav>button:hover {

        width: 100px;
    }

    .btnText {
        font-size: 1vh;
    }

    .MenuNav {
        width: 10%;
        height: 10%;

    }

    .iconlist {
        grid-row: 2/-1;
        padding-top: 30px;


    }

    li>.media {

        width: 2px;
    }

    .Social {

        width: 3vh;
        height: 3vh;
    }
}

@media (max-height: 300px) {
    .container {
        width: 20vh;



    }
}