@font-face {
    font-family: codetext;
    src: url(/src/fonts/CascadiaCode-jEZzj.ttf);
}




.shadowmain {
    height: 80vh;
    width: min(60vh);
    grid-row: 2/2;
}


.btnGroup {

    display: flex;
    position: relative;
    grid-row: 2/2;
    flex-direction: column;

}

.btnGroup>button:hover {
    scale: 130%;

}

.btnGroup>button {


    border: 1px solid rgba(255, 255, 255, 0.318);
    font-family: codetext;
    animation: bounce .4s ease infinite alternate;
    width: min(100px);
    padding: 10%;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.27);
    margin: 70px 0;

}



@keyframes bounce {
    0% {
        text-shadow:

            0 1px 3px rgb(79, 79, 79);
    }

    100% {
        transform: translateY(-3px);
        text-shadow: 0 3px 0 rgba(81, 81, 81, 0.8),
            0 0px 3px rgba(0, 0, 0, .8);
    }
}



.kattywrapandbuttons {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 78px);
    grid-template-rows: 200px;

    margin: 0;


}



@media (max-width: 480px) {

    .kattywrapandbuttons {
        display: inline-flex;
        flex-direction: row;
        width: 228px;
        grid-row: 3/3;
        grid-column: 1/2;
        justify-content: flex-start;
        z-index: 2;

    }




    .btnGroup>button {

        position: relative;

        width: 100px;
        margin: 100px 30px 0;


        padding: 10%;
        right: 70svw;


    }


    .shadowmain {

        width: 130%;
        height: 480px;
        object-fit: cover;
        object-position: 50% 50%;


    }

    .btnGroup>button:hover {
        scale: 105%;
    }


}